<div class="col-sm-3 single-post-card" id=<%= movie_path(movie.id) %>>
  <div class="card">
    <div class="card-block">
      <h4 class="post-text">
        <%= truncate(movie.name, :length => 60) %>
      </h4>
      <div class="post-content">
        <div class="posted-by">Posted by <%= movie.user.name %></div>
        <h3><%= movie.name %></h3> 
         <p><%= movie.producer %></p>
          <p><%= movie.country %></p>
           <p><%= movie.synopsis %></p>
        <%= link_to "I'm interested", movie_path(movie.id), class: 'interested' %>
      </div>
    </div>
  </div><!-- card -->
</div><!-- col-sm-3 -->